{% extends "base.html" %}


{%- block styles %}
    {{ super() }}
     <link rel="stylesheet" href="/static/games.memory_tiles/css/app.css">

{%- endblock styles %}



{% block out_content %}
    <div class="wrap">
<div class="game"></div>

	<div class="modal-overlay">
		<div class="modal">
			<h2 class="winner">{{ _('You Rock!') }}</h2>
			<button class="restart">{{ _('Play Again?') }}</button>
		</div>
	</div>

  </div><!-- End Wrap -->

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="/static/games.memory_tiles/js/app.js"></script>
    <script type="text/javascript">
        start_play({{ typ }});
    </script>
{%- endblock scripts %}
