{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script>
        function binary_ops_data() {
            $.post('/games/_arithmetic.game/').done(function (response) {
                var args = response['args'];

                let start = new Date();
                $('#arg1').text(args['a']);
                $('#op').text(args['op']);
                $('#arg2').text(args['b']);
                for (let i = 0; i < 4; i++) {
                    $(`#ans${i}`)
                        .text(args['choices'][i])
                        .unbind("click")
                        .click(function () {
                            args['choice'] = args['choices'][i];
                            args['correct'] = args['choices'][i] == args['res']
                            let postData = {
                                game_name: 'arithmetic.game',
                                game_typ: response['game_typ'],
                                time: Math.round((new Date() - start) / 1000),
                                args: JSON.stringify(args),
                            };
                            $.ajax({
                                url: '/games/_post_answer/',
                                contentType: 'application/JSON',
                                data: JSON.stringify(postData),
                                type: 'POST',
                                success: function () {
                                    window.location.replace('/next_game/');
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        });
                }
            }).fail(function () {
                $('#arg1').text("{{ _('Error: Could not contact server.') }}");
            });
        };

       binary_ops_data();
    </script>

{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        td.ans-button {
            background-color: #fefefe;
        }

        td.ans-button:hover {
            background-color: rgba(0, 0, 0, 0.39);
        }
    </style>
{% endblock %}

{% block app_content %}
    <h1>{{ _('Choose the answer') }}</h1>
    <p>
    <div style="text-align: center;font-size: 250%;">
        <span id="arg1" ,></span>
        <span id="op"></span>
        <span id="arg2"></span>
        <hr>
        <table border="1" class="table table-striped" style="width:100%">
            <tr>
                <td class="ans-button" id="ans0"></td>
                <td class="ans-button" id="ans1"></td>
                <td class="ans-button" id="ans2"></td>
                <td class="ans-button" id="ans3"></td>
            </tr>
        </table>
    </div>
    </p>
{% endblock %}
